doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="shortcut icon",type="image/x-icon",href="/static/img/site.ico")
    meta(name="keywords" content=title)
    meta(name="description" content=description)
    title #{title} - cheatsheet
    link(rel='stylesheet', href='/static/css/cards.css')
  body
    div.page-header
      a(href="/",class="btn pull-left toggle-search",title="search")
        i(class="fa fa-search")
      if http
        a(href=mdUrl,class="btn pull-left edit",target="_blank") 在 Github 上编辑此页
    div.page-wrapper !{htmlContent}
