doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="shortcut icon",type="image/x-icon",href="/static/img/site.ico")
    meta(name="keywords" content=title)
    meta(name="description" content=description)
    title #{title} - cheatsheet
    link(rel='stylesheet', href='/static/css/cards.css')
  body !{htmlContent}
